<div class="container-header">
  <header>
    <img id="cap-mario" src="../../../assets/logo-cap.png" alt="Cap vermelho do Mario">
    <ul class="navigation">
      <li><a href="#" class="navigation__link">Home</a></li>
      <li><a href="#" class="navigation__link">Story</a></li>
      <li><a href="#" class="navigation__link">Wallpaper</a></li>
      <li><a href="#" class="navigation__link">Trailer</a></li>
    </ul>

    <div class="navigation__social">
      <ul>
        <li><img src="../../../assets/facebook.svg" alt=""></li>
        <li><img src="../../../assets/instagram.svg" alt=""></li>
        <li><img src="../../../assets/twitter-alt.svg" alt=""></li>
        <li><img src="../../../assets/tik-tok.svg" alt=""></li>
        <li><img src="../../../assets/youtube.svg" alt=""></li>
      </ul>
    </div>
  </header>
</div>
