.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 0 48px;
  text-decoration: none;
  margin-bottom: 2rem;
}

.container-header li {
  list-style-type: none;
}

.container-header header {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  margin-top: 1.5rem;

  width: 100%;
  max-width: 1440px;
}

.cap-mario {
  width: 4.375rem;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 3rem;
}

.navigation__link {
  display: flex;
  align-items: center;
  column-gap: 48px;
  list-style: none;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navigation__link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--red);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .3s;
}

.navigation__link:hover {
  color: var(--red);
}

.navigation__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .6s;
}

.navigation__social {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation__social ul {
  display: flex;
  gap: 1.75rem;
}

.navigation__social svg {
  width: 1.325rem;
  height: 1.325rem;
  fill: var(--text)
}
.navigation__social svg:hover {
  width: 1.5rem;
  height: 1.5rem;
}

.navigation__social svg:hover path,
.navigation__social svg:hover circle {
  fill: var(--red);
}


/* Responsividade Mobile */
@media screen and (max-width: 450px) {
}

@media(max-width: 900px) {
  .navigation {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 12, 16, 0.9);
    backdrop-filter: blur(2px);
    z-index: 2;

    flex-direction: column;
    justify-content: center;
    row-gap: 70px;

    transform: translateY(-100vh);
    transition: transform 0.4s;
  }

  .navigation.active {
    transform: translateY(0);
  }


  .navigation__links {
    flex-direction: column;
    row-gap: 32px;
  }

  .navigation__link {
    font-size: 20px;
  }

  .navigation__social {
    margin: 0;
  }

  .navigation__social a{
    opacity: 0.8;
  }

  .navigation__social a {
    width: 24px;
    height: 24px;
  }
}
