* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --red: #C51212;
  --neon-red: #F21616;
  --blue: #0041C2;
  --neon-blue: #0050F0;
  --green: #14b02d;
  --neon-green: #18de39;
  --yellow: #ffc12b;
  --neon-yellow: #e2aa26;
}

body, button, a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button {
  width: 100%;
}

button:hover {
  cursor: pointer;
}
